.outerbox
{
	
	height:400px;
	width:100%;}
	
#obox1.outerbox
{	
	padding:20px;}

.box {

  border-style: solid;;
  border-color:#09F;
  text-align:center;
  height:350px;
  width:200px;
  padding:10px;
  float:left;
}

.box img
{
	height:150px;
	width:200px;
}

.box hr
{
	width:100%;
}


 
 
 
