
body {
    background: #ffffff none repeat scroll 0 0;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    position: relative;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
h1, h2, h3, h4 {
    font-weight: bold;
    letter-spacing: 2px;
}
.heading {
    font-size: 20px;
}
.subheading {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 60px;
}
.bold {
    font-weight: bold;
}
p {
    font-size: 15px;
    line-height: 28px;
}
a {
    outline: medium none !important;
}
hr {
    border-color: #ccc;
    width: 250px;
}
.section-title strong {
    color: #00c6d7;
    font-size: 56px;
}
.section-title h1 {
    font-size: 24px;
}
#work, #about, #team, #portfolio, #pricing, #contact {
    padding-bottom: 100px;
    padding-top: 100px;
}
.preloader {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.sk-spinner-circle.sk-spinner {
    height: 22px;
    position: relative;
    width: 22px;
}
.sk-spinner-circle .sk-circle {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.sk-spinner-circle .sk-circle::before {
    animation: 1.2s ease-in-out 0s normal both infinite running sk-circleBounceDelay;
    background-color: #00c6d7;
    border-radius: 100%;
    content: "";
    display: block;
    height: 20%;
    margin: 0 auto;
    width: 20%;
}
.sk-spinner-circle .sk-circle2 {
    transform: rotate(30deg);
}
.sk-spinner-circle .sk-circle3 {
    transform: rotate(60deg);
}
.sk-spinner-circle .sk-circle4 {
    transform: rotate(90deg);
}
.sk-spinner-circle .sk-circle5 {
    transform: rotate(120deg);
}
.sk-spinner-circle .sk-circle6 {
    transform: rotate(150deg);
}
.sk-spinner-circle .sk-circle7 {
    transform: rotate(180deg);
}
.sk-spinner-circle .sk-circle8 {
    transform: rotate(210deg);
}
.sk-spinner-circle .sk-circle9 {
    transform: rotate(240deg);
}
.sk-spinner-circle .sk-circle10 {
    transform: rotate(270deg);
}
.sk-spinner-circle .sk-circle11 {
    transform: rotate(300deg);
}
.sk-spinner-circle .sk-circle12 {
    transform: rotate(330deg);
}
.sk-spinner-circle .sk-circle2::before {
    animation-delay: -1.1s;
}
.sk-spinner-circle .sk-circle3::before {
    animation-delay: -1s;
}
.sk-spinner-circle .sk-circle4::before {
    animation-delay: -0.9s;
}
.sk-spinner-circle .sk-circle5::before {
    animation-delay: -0.8s;
}
.sk-spinner-circle .sk-circle6::before {
    animation-delay: -0.7s;
}
.sk-spinner-circle .sk-circle7::before {
    animation-delay: -0.6s;
}
.sk-spinner-circle .sk-circle8::before {
    animation-delay: -0.5s;
}
.sk-spinner-circle .sk-circle9::before {
    animation-delay: -0.4s;
}
.sk-spinner-circle .sk-circle10::before {
    animation-delay: -0.3s;
}
.sk-spinner-circle .sk-circle11::before {
    animation-delay: -0.2s;
}
.sk-spinner-circle .sk-circle12::before {
    animation-delay: -0.1s;
}
@keyframes sk-circleBounceDelay {
0%, 80%, 100% {
    transform: scale(0);
}
40% {
    transform: scale(1);
}
}
.custom-navbar {
    background: #4b4b4b none repeat scroll 0 0;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand {
    color: #00c6d7;
    font-size: 24px;
    font-weight: 600;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    padding: 4px 6px;
}
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.custom-navbar .nav li a:hover {
    background: transparent none repeat scroll 0 0;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
    outline: medium none;
}
.custom-navbar .nav li.active > a {
    color: #00c6d7;
}
.custom-navbar .navbar-toggle {
    border: medium none;
    padding-top: 10px;
}
.custom-navbar .navbar-toggle .icon-bar {
    background: #00c6d7 none repeat scroll 0 0;
    border-color: transparent;
}
@media (min-width: 768px) {
.custom-navbar {
    background: #06121c none repeat scroll 0 0;
    border-bottom: 0 none;
    opacity: 0.85;
    padding: 10px;
}
.custom-navbar.top-nav-collapse {
    background: #06121c none repeat scroll 0 0;
    opacity: 0.85;
    padding: 8px;
}
}
#home {
    align-items: center;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    height: 100vh;
    text-align: center;
}
#home h1 {
    font-size: 40px;
}
#home h3 {
    font-size: 14px;
}
#home hr {
    width: 240px;
}
#home .btn {
    background: transparent none repeat scroll 0 0;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 16px;
    margin-top: 40px;
    padding: 12px 42px;
    transition: all 0.4s ease-in-out 0s;
}
#home .btn:hover {
    background: #00c6d7 none repeat scroll 0 0;
    border-color: transparent;
}
#home .btn-danger {
    background: #00c6d7 none repeat scroll 0 0;
    border-color: transparent;
}
#home .btn-danger:hover {
    background: transparent none repeat scroll 0 0;
    border: 4px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
}
#work {
    text-align: center;
}
#work .col-md-4 {
    padding: 21px;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
}
#work .col-md-4:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
}
#work h3 {
    font-size: 13px;
}
#about {
    background: #09182c none repeat scroll 0 0;
    color: #ffffff;
}
.nav-tabs {
    border-bottom: 1px solid #606060;
    margin-top: 20px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
}
.nav-tabs > li > a:hover {
    background-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 1px solid transparent;
    color: #00c6d7;
    cursor: default;
}
.tab-content {
    padding-top: 20px;
}
.tab-content a {
    color: #0cc;
}
.tab-content a:hover, .tab-content a:link {
    color: #ff0;
    text-decoration: none;
}
#team {
    text-align: center;
}
#team h3 {
    color: #00c6d7;
    font-size: 14px;
    font-weight: bold;
}
#team .col-md-3 {
    padding-bottom: 20px;
    padding-top: 20px;
}
#team .team-wrapper {
    overflow: hidden;
    position: relative;
}
#team .team-des {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    max-width: 500px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.4s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
#team .team-des:hover {
    opacity: 1;
}
#team img {
    margin: 0 auto;
}
#team .social-icon li a {
    color: #fff;
}
#team .social-icon li a:hover {
    color: #00c6d7;
}
#portfolio {
    background-color: #f6f6f6;
    text-align: center;
}
#portfolio .container {
    margin: 0;
    padding: 0;
    width: 100%;
}
#portfolio img {
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}
#portfolio img:hover {
    opacity: 0.5;
}
.filter-wrapper {
    margin: 40px -10px 24px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    display: block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px 17px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
}
.filter-wrapper li .selected, .filter-wrapper li a:focus, .filter-wrapper li a:hover {
    color: #00c6d7;
    outline: medium none;
}
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    clear: both;
    padding: 0;
    position: relative;
    width: 100%;
}
.iso-box {
    float: left;
    margin-bottom: 20px;
    min-height: 50px;
    overflow: hidden;
    position: relative;
}
.iso-box > a {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.iso-box > a {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.fluid-img {
    display: block;
    width: 100%;
}
#pricing {
    text-align: center;
}
#pricing h2 {
    font-size: 52px;
}
#pricing h3 {
    font-size: 16px;
}
#pricing .plan {
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
    margin-bottom: 32px;
    padding-bottom: 80px;
    padding-top: 40px;
}
#pricing .plan span {
    font-size: 16px;
}
#pricing .plan .plan_title {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding: 30px;
}
#pricing .medium-icon {
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
    font-size: 52px;
    height: 120px;
    line-height: 120px;
    margin-bottom: 32px;
    text-align: center;
    width: 120px;
}
#pricing .plan ul {
    padding: 0;
}
#pricing .plan ul li {
    display: block;
    font-weight: 500;
    padding: 12px 0;
}
#pricing .plan .btn {
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out 0s;
}
#pricing .plan-one .btn {
    background-color: #00c6d7;
}
#pricing .plan-two .btn {
    background-color: #ffa400;
}
#pricing .plan-three .btn {
    background-color: #009988;
}
#pricing .plan .btn:hover {
    background-color: #3b3b3b;
}
#contact {
    background: #3b3b3b url("../images/contact-bg.jpg") no-repeat scroll center center / cover ;
    color: #ffffff;
}
#contact h2 {
    padding-bottom: 20px;
}
#contact h3 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
#contact .medium-icon {
    padding-right: 10px;
    padding-top: 10px;
}
#contact .contact-info div {
    padding-bottom: 14px;
    padding-top: 14px;
}
#contact form {
    padding-top: 60px;
}
#contact .form-control {
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.4s ease-in-out 0s;
}
#contact input {
    height: 40px;
}
#contact input[type="submit"] {
    background: #00c6d7 none repeat scroll 0 0;
    border: 3px solid #00c6d7;
    color: #ffffff;
    height: 50px;
    letter-spacing: 1px;
    margin-top: 18px;
}
#contact input[type="submit"]:hover {
    color: #000000;
}
footer {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
footer p {
    padding-top: 20px;
}
.social-icon {
    margin: 0;
    padding: 0;
}
.social-icon li {
    display: inline-block;
    list-style: outside none none;
    padding: 6px;
}
.social-icon li a {
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.09);
    color: #808080;
    font-size: 20px;
    height: 56px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
    width: 56px;
}
.social-icon li a:hover {
    color: #00c6d7;
}
@media screen and (min-width: 992px) {
@-moz-document url-prefix("") {
#portfolio .col-lg-4, #portfolio .col-md-4 {
    width: 33.333%;
}
}
}
@media (max-width: 440px) {
#home {
    padding-bottom: 320px;
    padding-top: 320px;
}
#home h1 {
    font-size: 22px;
}
#home h3 {
    font-size: 12px;
}
}
@media only screen and (min-width: 1224px) {
#obox1.outerbox {
    background-color: rgba(0, 0, 0, 0.1);
}
#box11.box {
    margin-left: 175px;
}
#box12.box {
    margin-left: 50px;
}
#box13.box {
    margin-left: 50px;
}
#box14.box {
    margin-left: 50px;
}
#obox2.outerbox {
    padding: 20px;
}
#box21.box {
    margin-left: 175px;
}
#box22.box {
    margin-left: 50px;
}
#box23.box {
    margin-left: 50px;
}
#box24.box {
    margin-left: 50px;
}
#obox3.outerbox {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}
#box31.box {
    margin-bottom: 40px;
    margin-left: 175px;
}
#box32.box {
    margin-left: 50px;
}
#box33.box {
    margin-left: 50px;
}
#box34.box {
    margin-left: 50px;
}
#obox4.outerbox {
    padding: 20px;
}
#box41.box {
    margin-bottom: 40px;
    margin-left: 175px;
}
#box42.box {
    margin-left: 50px;
}
#box43.box {
    margin-left: 50px;
}
#box44.box {
    margin-left: 50px;
}
#obox5.outerbox {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}
#box51.box {
    margin-bottom: 40px;
    margin-left: 175px;
}
#box52.box {
    margin-left: 50px;
}
#box53.box {
    margin-left: 50px;
}
#box54.box {
    margin-left: 50px;
}
#obox6.outerbox {
    padding: 20px;
}
#box61.box {
    margin-bottom: 40px;
    margin-left: 175px;
}
#box62.box {
    margin-left: 50px;
}
#box63.box {
    margin-left: 50px;
}
#box64.box {
    margin-left: 50px;
}
#obox7.outerbox {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}
#box71.box {
    margin-bottom: 40px;
    margin-left: 175px;
}
#box72.box {
    margin-left: 50px;
}
#box73.box {
    margin-left: 50px;
}
#box74.box {
    margin-left: 50px;
}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.filter-wrapper {
    margin: 0 -18px 15px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
#box11.box {
    margin-bottom: 15px;
    margin-left: 40px;
}
#box12.box {
    margin-bottom: 15px;
    margin-left: 40px;
}
#box13.box {
    margin-bottom: 15px;
    margin-left: 40px;
}
#box14.box {
    margin-bottom: 15px;
    margin-left: 40px;
}
#box21.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box22.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box23.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box24.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box31.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box32.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box33.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box34.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box41.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box42.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box43.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box44.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box51.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box52.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box53.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box54.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box61.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box62.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box63.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box64.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box71.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box72.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box73.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
#box74.box {
    margin-bottom: 15px;
    margin-left: 60px;
}
}
.content {
    padding-top: 30px;
}
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    border-bottom: 20px inset #fff;
    border-left: 15px inset transparent;
    border-right: 0 solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}
.testimonials blockquote::after {
    border-color: #e63f0c transparent transparent;
    border-style: solid;
    border-width: 20px 20px 0 0;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}
