body
{
	overflow-y: visible;
}
#bruce2
{    
    transition: background-image .5s ease-in;
    background-size:115%;
	background-repeat:no-repeat;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-image: url(resources/images/1.jpg);
    z-index: 0;
    min-height: 100%;    
    overflow-y: visible;
    height: auto;
    min-width: 100%;
    overflow-x: hidden;
}
#bruce
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: visible;
    min-height: 100%;
    z-index: 1;
    height: auto;
    min-width: 100%;
    background-color: rgba(140,100,0,0.2);
}
div.imgstore
{
    text-align: center;
    margin: 0;
    min-height: 92px;
    height: auto;
    padding-top: 4px;
    background-color: rgba(0,0,0,0.8);
    border-top: solid 16.5px rgba(0,0,0,0.0);
    border-bottom: solid 16.5px rgba(0,0,0,0.0);
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    top: 500px;
    display: inline-block;
    left: 0;
}
div.imgstore img
{
    width: 130px;
    display: inline-block;
    opacity: .2;
    height: 90px;
}
.content-box
{
    transition: all .5s;
    padding: 25px;
    font-family: Open Sans;
    position: relative;
    display: block;
    text-align: left;
    width: 400px;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 2px;
    color: black;
    font-size: 14px;
    background: white;
    /*background: linear-gradient(to top, black, rgba(10,10,10,0.9)); /* Standard syntax */*/
}
.content-box h2
{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}

.heading
{
	font-family: Open Sans;
    font-size: 25px;
	font-weight:600;
    padding: 20px;
    text-shadow: 0px 0px 3px #000;
    position: relative;
    top: 30px;
	text-align:center;	
}

.heading p 
{
	color:#FFF;
	line-height:40px;
	}